*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chat-app-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.message-container{
  background-color: antiquewhite;
  flex: 1;
  padding: 20px;
}
.message-arch-containe{
  margin-bottom: 20px;
  display: flex;
}
.message-info-container{
  margin-left: 10px;
}
.action-container{
  display: flex;
}
.message-name{
  flex: 1;
  padding: 20px;
}